datadog
requests
PyYaml==5.4
python-dateutil
google-auth
google-auth-httplib2
google-api-python-client
setuptools
pip
virtualenv
docker-compose
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability