#!/bin/bash

app_key='{{ datadog_app_key }}'
api_key='{{ datadog_api_key }}'

mute=$(curl -X POST -H 'Content-Type: application/json' -d '{
    "message": "This instance is going to be muted."
  }' "https://app.datadoghq.com/api/v1/host/{{ ansible_host }}/mute?api_key=$api_key&application_key=$app_key")

echo "$mute"