[Unit]
Description=mute alert on host when shutdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStop=/usr/local/sbin/datadog-mute-alert.sh

[Install]
WantedBy=multi-user.target