PyYaml
ansible
ansible-lint
autopep8
docker
flake8
google-api-python-client
google-auth
google-auth-httplib2
hvac==0.10.0
jmespath
molecule
molecule-docker
molecule-vagrant
pylint
pytest
pytest-mock
python-vagrant
requests
rope
selinux
yamllint
boto3
botocore
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
ansible-core>=2.12.0b1 # not directly required, pinned by Snyk to avoid a vulnerability